body {
	font-family: Arial, sans-serif;
	background-color: #f4f4f4;
	color: #333;
	margin: 0;
	padding: 0;
}

.container {
	background-color: #557c83;
}

header {
	color: #fff;
	background-color: #7d9fc0;
	text-align: center;
	margin: 0;
	padding: 5px 0;
	font-size: 1em;
}
/* 导航标题样式 */
nav {
	font-size: 1.2em;
	font-weight: bold;
	margin-top: 20px;
	color: #555;
	border-bottom: 2px solid #555;
	padding-bottom: 5px;
}

/* 内容区域样式 */
section {
	background-color: #3aada8;
	padding: 15px;
	margin: 20px;
	border-radius: 8px;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* 链接布局 */
.a {
	margin: 10px 0;
	display: inline-block;
	width: calc(33% - 20px);
	vertical-align: top;
	margin-right: 10px;
	text-align: center;
}

.a:nth-child(3n) {
	margin-right: 0;
}

/* 链接样式 */
a {
	color: #fff;
	text-decoration: none;
	display: block;
	padding: 5px 0;
}

a:hover {
	text-decoration: underline;
}

/* 页脚样式 */
footer {
	background-color: #333;
	color: #fff;
	text-align: center;
	padding: 15px 0;
	margin-top: 20px;
	border-radius: 0;
	box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.1);
}

footer p {
	margin: 0;
	font-size: 14px;
}

footer a {
	color: #4CAF50;
	text-decoration: none;
}

footer a:hover {
	text-decoration: underline;
}